body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    animation: glow 2s infinite alternate;
}

/* Add glowing animation */
@keyframes glow {
    0% {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
    }
}
